.content{
	display: flex;
  	background-color: #FFFFFF;
	height: 58vh;
}

.wraper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 98%;

}

.text{
	text-align: justify;
    width: 92%;
}
.frame{
	max-width: 153px;
	max-height: 60px;
	border-radius: 8px
}


@media (max-width: 600px){

	.content{height: 85vh;}
}




li{padding-left: 30px;}



