.content{
	display: flex;
  	background-color: #FFFFFF;
	height: 58vh;
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 30px 10px 30px;
	font-weight: 300;

}
.wraper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 98%;

}

.text{
	text-align: justify;
    width: 92%;
}
.frame{
	max-width: 153px;
	max-height: 60px;
	border-radius: 8px
}


@media (max-width: 600px){
	.info{padding: 10px 20px; text-align: justify;}
	.content{height: 85vh;}
}

@media (max-width: 400px){
	.info{font-size: 13px;}
}


li{padding-left: 30px;}



